/* RESET */

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* FONTS */

@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;400&display=swap');
*, button, input{
  font-family: 'Oswald', sans-serif;
};

@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;400&family=Quattrocento&display=swap');
*{
  font-family: 'Oswald', sans-serif;
font-family: 'Quattrocento', serif;
}

/* ************* */
/* FORMCOMPONENT */
/* ************* */

.form h1{
  background-color: #0C455A;
  color:#FFFFFF;
  margin-top:-5px;
  text-align: center;
  font-size: max(5vw,4rem);
}
.form img {
  width: 100%;
  height: 25px;
}
.form>div:last-child{
  height: 10vh;
  margin-top: -10px;
  background-color: #0C455A;
}
.form form{
  display: flex;
  flex-direction: column;
  margin: 3vh auto;
}
.form form textarea {
  width: min(350px, 70vw);
  margin: 0.5vh auto;
  padding: 0.5rem;
  border-radius: 5px;
}
.form form input {
  width: min(350px, 70vw);
  margin: 0.5vh auto;
  background-color: #0C455A;
  color: #FFFFFF;
  border: none;
  border-radius: 5px;
  padding: 0.5rem;
}
.form form input:hover{
  cursor: pointer;
}


/* ****** */
/* NAVBAR */
/* ****** */


nav{
  display: flex;
  align-items:center;
  background-color: #0C455A;
  padding-top: 1vh;
  padding-bottom: 1vh;

  position: fixed;
  right:0;
  width: 100%;
  margin-right: 0;

}

nav ul{
  display: flex;
  list-style-type: none;
  position: absolute;
  right:5vw;
}

nav img:first-child{
  width: 100px;
}
nav img:last-child{
  width: 50px;
  position: absolute;
  right: -100px;
}
nav img:nth-child(3){
  width: 25px;
  position: absolute;
  right:-100px;
}
nav img:nth-child(3):hover{
  cursor: pointer;
}
nav a{
  text-decoration: none;
  color: #EFEFEF;
  padding-right: 2rem;
  font-size: 2rem
}
nav a:hover{
  text-decoration: underline;
}

@media (max-width:525px){
  nav ul{
    flex-direction: column;
    right: -50vw;
    top:2vh;
    padding: 15vw 5vw;

    background-color: #ffffffb0;
    backdrop-filter: blur(5px);
  }
  nav a{
    color: #0C455A;
    padding: 0;
  }
  nav img:last-child{
    right: 5vw;
  }
  nav img:last-child:hover{
    cursor: pointer;
  }
  nav img:nth-child(3){
    right:-20vw;
  }

  /* Move links, buttons */
  .link-onscreen{
    right:3vw !important;
    overflow-x: visible;
  }
  .close-on-screen{
    right: 5vw !important;
  }
  .hamburger-offscreen{
    right:-50vw !important;
  }
}
/* ************ */
/* LANDING PAGE */
/* ************ */

.landing-page{
  display: flex;
  flex-direction: column;
  height: 90vh;
  padding-top: 10vh;

  background-image: url('./images/landing-page-bckg.jpg');
  background-size: cover;
  background-position: center 10vh;
  background-repeat: no-repeat;
}

/* divider */

section img{
  height: 25px;
  width: 100%;
}
.landing-page img:last-child{
  margin-top: auto;
}

/* text,layout, btn */
.landing-page div{
  margin-left:auto;
  margin-right: 3vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.landing-page h1 {
  font-size: max(6vw,4rem);
  text-decoration: underline;
  color: #475053;
}

.landing-page p {
  font-size: max(3vw,3rem);
  text-align: center;
  color: #475053;
}
.landing-page button {
  font-size: 2.5vw;
  width: 20vw;
  padding: 0.5vw;
  margin-top: 2vw;
  
  
  
  color: #FFFFFF;
  background-color: #0C455A;
  border: 1px solid #0C455A;
  border-radius: 10px;
}

.landing-page button:hover{
  /* background-color:#0c455aec; */
  box-shadow: 3px 3px 5px #475053;
  cursor: pointer;
}


@media (max-width:1000px){

  .landing-page div{
    margin-top:30vh;
    background-color: #0c455ad7;
    padding: 2rem;
  }

  .landing-page h1 {
    font-size: 10vw;
    color: #FFFFFF;
  }
  
  .landing-page p {
    font-size: 6vw;
    text-align: center;
    color: #fff;
  }
  .landing-page button {
    font-size: 5vw;
    background-color: #FFFFFF;
    color: #0C455A;
    width: 40vw;
  }
}

@media  (max-width: 525px) {
  .landing-page{
    align-items: center;
  }
  .landing-page div{
    padding: 10vw;
    margin-left: 0;
    margin-right: 0;
    margin-top:35vh;
    background-color: #0c455ad7;
  }
  .landing-page h1 {
    font-size: 15vw;
    color: #FFFFFF;
  }
  
  .landing-page p {
    font-size: 8vw;
    text-align: center;
    color: #fff;
  }
  .landing-page button {
    font-size: 5vw;
    background-color: #FFFFFF;
    color: #0C455A;
    width: 40vw;
  }
}

/* ******** */
/*ABOUT PAGE*/
/************/
.about-section {
  scroll-margin-top: 100px;
}

.content{
  max-width: 1400px;
  margin: auto;
  scroll-margin-top: 1em;
}
.section-1{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;

  margin-top: 5vh;
  padding-bottom: 5vh;

  border-bottom: 1px solid #0C455A;
}
.section-1 span {
  font-size: 20px;
  color: black;
}
.section-1 p{
  max-width: 30vw;
  margin-left: 3vw;
  min-width: 350px;
  color: #475053;
}

.section-2{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 5vh 0;
}
.section-2 span {
  font-size: 20px;
  color: black;
}
.section-2 p, .section-2 ul{
  max-width: 30vw;
  min-width: 350px;
  list-style-type: none;
  color: #475053;
}
.section-2 img{
  margin-left: 3vw;
}

.about-section h1 {
  text-align: center;
  color: #EFEFEF;
  background-color: #0C455A;
  font-size: max(5vw,3rem);
}
.content img {
  height: 20vh;
  width: auto;
}

@media (max-width:700px){
  .content{
    margin: 3rem;
  }
  .section-1 p{
    margin-top: 3rem;
  }
  .section-2 img {
    margin-top: 3rem;
  }
}


/* ************ */
/* CONTACT PAGE */
/* ************ */

.thanks {
  margin: 6rem 0;
  text-align: center;
  font-size: 28px;
}